In [ ]:
import pandas as pd

data = pd.read_csv("wine.csv")

In [ ]:
data.columns.to_list()

In [ ]:
data.dtypes

In [ ]:
data[["price", "points", "variety"]]

In [18]:
filtros = (data['price']>150) & (data['country'] == 'Italy')  & (data['points'] < 90)
vinos_italianos_caros_buenos = data[filtros]

In [20]:
vinos_italianos_caros_buenos.to_csv("vinositalianos.csv")

In [25]:
## cuántos vinos americanos con precio mayor a 500 y puntaje mayor a 90
filtros = (data['price']>500) & (data['country'] == 'US')  & (data['points'] > 90)
vinos_americanos = data[filtros]
respuesta = vinos_americanos.shape[0]

In [ ]:
data['country'].unique()

In [31]:
# qué variedades de vino tiene Morocco en este dataset
filtro_marruecos = (data['country'] == 'Morocco')
data_marruecos = data[filtro_marruecos]
tipos_vino_marruecos = data_marruecos['variety'].unique().tolist()

In [38]:
#for vino in tipos_vino_marruecos:
#    print(f"Hay xx {vino}")
data_marruecos['winery'].value_counts()

winery
Ouled Thaleb      9
Bernard Magrez    2
Name: count, dtype: int64

In [40]:
data_marruecos['points'].describe()

count    11.000000
mean     88.636364
std       2.157440
min      85.000000
25%      87.500000
50%      89.000000
75%      89.500000
max      93.000000
Name: points, dtype: float64

In [51]:
#data['price'].describe()
#data_marruecos['points'].sum()
#data_marruecos['points'].mean()
#data_marruecos['points'].max()
#data_marruecos['points'].min()
#data_marruecos['points'].count()
data_marruecos['points'].quantile(0.7)

np.float64(89.0)

In [ ]:
data['soles'] = data['price']*3.74

In [53]:
data['variety'].map(lambda c: f"___{c}____")

0               ___White Blend____
1            ___Portuguese Red____
2                ___Pinot Gris____
3                  ___Riesling____
4                ___Pinot Noir____
                   ...
65494            ___Chardonnay____
65495    ___Cabernet Sauvignon____
65496       ___Sauvignon Blanc____
65497             ___Primitivo____
65498                ___Sherry____
Name: variety, Length: 65499, dtype: object

In [55]:
def peruano_ono(row):
    if row['country'] == "Peru":
        return "Peruano"
    else:
        return "Extranjero"

data['origen'] = data.apply(peruano_ono, axis='columns')

In [60]:
filtro_pe = data['country'] == 'Peru'
data[['designation','origen']][filtro_pe]

                               designation   origen
6565                         Valle del Sol  Peruano
13090                    Halcón de la Viña  Peruano
14727                          Gran Blanco  Peruano
14732                           Gran Tinto  Peruano
23537                Valle del Sol Reserva  Peruano
37948      Valle del Sol No 1 Gran Reserva  Peruano
63521  Sinfonía Tannat-Malbec-Petit Verdot  Peruano
64672                     Semi-Seco Blanco  Peruano